{"openapi":"3.0.1","info":{"title":"Slotbot API","description":"API für den Slotbot","contact":{"name":"Alf","email":"slotbot-api@webalf.de"},"license":{"name":"GNU Affero General Public License v3.0","url":"https://github.com/Alf-Melmac/slotbotServer/blob/master/LICENSE"},"version":"v1"},"servers":[{"url":"https://slotbot.de/backend/slotbot/api/v1","description":"Generated server url"}],"tags":[{"name":"Events","description":"Everything related to events"},{"name":"Slots","description":"Everything related to slots in events"},{"name":"Status","description":"Server Status"},{"name":"Unstable","description":"Unstable API"}],"paths":{"/events":{"post":{"tags":["Events"],"operationId":"postEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventApiDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventApiIdDto"}}}},"400":{"description":"Invalid parameters provided","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"examples":{"Missing required field or invalid pattern":{"description":"Missing required field or invalid pattern","value":{"errorMessage":"creator is invalid. Missing mandatory field?","requestedURI":"/backend/slotbot/api/v1/events/1234"}},"Missing required fields or invalid patterns":{"description":"Missing required fields or invalid patterns","value":{"errorMessage":"eventType, creator are invalid. Missing mandatory fields?","requestedURI":"/backend/slotbot/api/v1/events/1234"}},"Duplicated slot number":{"description":"Duplicated slot number","value":{"errorMessage":"Slotnummern müssen innerhalb eines Events eindeutig sein.","requestedURI":"/backend/slotbot/api/v1/events/1234"}},"Too many detail fields":{"description":"Too many detail fields","value":{"errorMessage":"Es dürfen nur 23 Detailfelder angegeben werden.","requestedURI":"/backend/slotbot/api/v1/events/1234"}}}}}},"403":{"description":"Forbidden"}},"security":[{"API Auth Token (ROLE_WRITE)":[]}]}},"/events/{id}/slot/{slotNumber}":{"post":{"tags":["Slots"],"summary":"Slot or unslot a user in an event","operationId":"postSlot","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"slotNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"Slot this user or, if empty, unslot this slot.","format":"discord-snowflake"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventApiIdDto"}}}},"400":{"description":"Invalid parameters provided","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"examples":{"Already slotted on this slot":{"description":"Already slotted on this slot","value":{"errorMessage":"Die Person ist bereits auf diesem Slot","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}},"Slot is not empty":{"description":"Slot is not empty","value":{"errorMessage":"Auf dem Slot befindet sich eine andere Person","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}},"Slot reserved for group to which user does not belong":{"description":"Slot reserved for group to which user does not belong","value":{"errorMessage":"Dieser Slot ist für Mitglieder einer anderen Gruppe reserviert","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}},"Invalid user id - EN":{"description":"Invalid user id - EN","value":{"errorMessage":"User id is not a valid discord id","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}},"Invalid user id - DE":{"description":"Invalid user id - DE","value":{"errorMessage":"User id ist keine gültige Discord-ID","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}},"Unslot empty slot":{"description":"Unslot empty slot","value":{"errorMessage":"Einen leeren Slot brauchst du nicht ausslotten","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1"}}}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"example":"{\n    \"errorMessage\": \"Resource not found\",\n    \"requestedURI\": \"/backend/slotbot/api/v1/events/123/slot/123\"\n}"}}}},"security":[{"API Auth Token (ROLE_WRITE)":[]}]}},"/events/{id}/slot/{slotNumber}/block":{"post":{"tags":["Slots"],"summary":"Block a slot in an event","description":"Blocks a slot from being slotted. If a block already exists, it can be used to overwrite the displayed text. If none is specified, the default is \"Gesperrt\".","operationId":"postBlockSlot","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"slotNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"maxLength":80,"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventApiIdDto"}}}},"400":{"description":"Invalid parameters provided","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"examples":{"Slot occupied by a user":{"description":"Slot occupied by a user","value":{"errorMessage":"Der Slot ist belegt, die Person muss zuerst ausgeslottet werden.","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1/block"}},"No blocking allowed in reserve":{"description":"No blocking allowed in reserve","value":{"errorMessage":"In der Reserve kann kein Slot blockiert werden.","requestedURI":"/backend/slotbot/api/v1/events/1234/slot/1/block"}}}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"example":"{\n    \"errorMessage\": \"Resource not found\",\n    \"requestedURI\": \"/backend/slotbot/api/v1/events/123/slot/123/block\"\n}"}}}},"security":[{"API Auth Token (ROLE_WRITE)":[]}]}},"/unstable/events/view/{id}":{"get":{"tags":["Unstable"],"operationId":"getEventView","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventApiViewDto"}}}},"403":{"description":"Forbidden"}},"security":[{"API Auth Token (ROLE_READ_PUBLIC)":[]}]}},"/status":{"get":{"tags":["Status"],"summary":"Ping","description":"Check if the server is responsive.","operationId":"ping","responses":{"200":{"description":"OK"}}}},"/events/{id}":{"get":{"tags":["Events"],"operationId":"getEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventApiIdDto"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"example":"{\n    \"errorMessage\": \"Resource not found\",\n    \"requestedURI\": \"/backend/slotbot/api/v1/events/123\"\n}"}}}},"security":[{"API Auth Token (ROLE_READ_PUBLIC)":[]}]},"delete":{"tags":["Events"],"operationId":"deleteEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExceptionResponse"},"example":"{\n    \"errorMessage\": \"Resource not found\",\n    \"requestedURI\": \"/backend/slotbot/api/v1/events/123\"\n}"}}}},"security":[{"API Auth Token (ROLE_ADMIN)":[]}]}}},"components":{"schemas":{"ExceptionResponse":{"type":"object","properties":{"errorMessage":{"type":"string"},"requestedURI":{"type":"string"}}},"EventApiDto":{"required":["creator","dateTime","eventType","name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"dateTime":{"type":"string","format":"date-time"},"creator":{"maxLength":80,"type":"string"},"eventType":{"$ref":"#/components/schemas/EventTypeApiDto"},"description":{"maxLength":4096,"type":"string"},"missionType":{"maxLength":80,"type":"string"},"missionLength":{"maxLength":80,"type":"string"},"pictureUrl":{"maxLength":1666,"pattern":"|\\s*(https?|attachment)://\\S+\\s*","type":"string","example":"https://example.net/example.png"},"reserveParticipating":{"type":"boolean"},"hidden":{"type":"boolean","description":"Allows everyone interested to see the event in the calendar.","default":false},"shareable":{"type":"boolean","description":"Allows other groups to add this event ot their calendar and add participants through it.","default":false},"details":{"type":"array","description":"Up to 23 additional details about an event.","items":{"$ref":"#/components/schemas/MinimalEventFieldDto"}},"squadList":{"type":"array","items":{"$ref":"#/components/schemas/SquadApiDto"}}}},"EventTypeApiDto":{"required":["color","name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"color":{"maxLength":7,"minLength":7,"pattern":"^#([a-f0-9]{6})$","type":"string","format":"hex-color"}}},"MinimalEventFieldDto":{"required":["text","title"],"type":"object","properties":{"title":{"maxLength":256,"type":"string"},"text":{"maxLength":1024,"type":"string"}},"description":"Up to 23 additional details about an event."},"SlotApiDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"number":{"type":"integer","format":"int32"},"reservedForGuildId":{"type":"string","description":"Reservation of a slot. If the squad is already reserved, this value is inherited unless overwritten here.","format":"discord-snowflake"},"userId":{"type":"string","format":"discord-snowflake"},"replacementText":{"maxLength":80,"type":"string","description":"Text to be displayed instead of a user. Only works if `userId` is set to `11111` at the same time."}}},"SquadApiDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"reservedForGuildId":{"type":"string","format":"discord-snowflake"},"slotList":{"type":"array","items":{"$ref":"#/components/schemas/SlotApiDto"}}}},"EventApiIdDto":{"required":["creator","dateTime","eventType","name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"hidden":{"type":"boolean"},"name":{"maxLength":80,"type":"string"},"dateTime":{"type":"string","format":"date-time"},"creator":{"maxLength":80,"type":"string"},"eventType":{"$ref":"#/components/schemas/EventTypeApiDto"},"description":{"maxLength":4096,"type":"string"},"missionType":{"maxLength":80,"type":"string"},"missionLength":{"maxLength":80,"type":"string"},"pictureUrl":{"maxLength":1666,"pattern":"|\\s*(https?|attachment)://\\S+\\s*","type":"string","example":"https://example.net/example.png"},"details":{"type":"array","items":{"$ref":"#/components/schemas/MinimalEventFieldIdDto"}},"reserveParticipating":{"type":"boolean"},"squadList":{"type":"array","items":{"$ref":"#/components/schemas/SquadApiIdDto"}}}},"MinimalEventFieldIdDto":{"required":["text","title"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"maxLength":256,"type":"string"},"text":{"maxLength":1024,"type":"string"}}},"SlotApiIdDto":{"required":["name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"maxLength":80,"type":"string"},"number":{"type":"integer","format":"int32"},"reservedForGuildId":{"type":"string","description":"Reservation of a slot. If the squad is already reserved, this value is inherited unless overwritten here.","format":"discord-snowflake"},"userId":{"type":"string","format":"discord-snowflake"},"replacementText":{"maxLength":80,"type":"string","description":"Text to be displayed instead of a user. Only works if `userId` is set to `11111` at the same time."}}},"SquadApiIdDto":{"required":["name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"maxLength":80,"type":"string"},"reservedForGuildId":{"type":"string","format":"discord-snowflake"},"slotList":{"type":"array","items":{"$ref":"#/components/schemas/SlotApiIdDto"}}}},"EventApiViewDto":{"required":["dateTime","name","url"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"maxLength":80,"type":"string"},"dateTime":{"type":"string","format":"date-time"},"squadList":{"type":"array","items":{"$ref":"#/components/schemas/SquadApiViewDto"}},"url":{"type":"string"}}},"SlotApiViewDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"number":{"type":"integer","format":"int32"},"user":{"$ref":"#/components/schemas/UserNameDto"}}},"SquadApiViewDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":80,"type":"string"},"slotList":{"type":"array","items":{"$ref":"#/components/schemas/SlotApiViewDto"}}}},"UserNameDto":{"type":"object","properties":{"id":{"type":"string"},"steamId64":{"type":"string"},"externalCalendarIntegrationActive":{"type":"boolean"},"name":{"type":"string"}}}},"securitySchemes":{"API Auth Token (ROLE_READ_PUBLIC)":{"type":"apiKey","name":"slotbot-auth-token","in":"header"},"API Auth Token (ROLE_READ)":{"type":"apiKey","name":"slotbot-auth-token","in":"header"},"API Auth Token (ROLE_WRITE)":{"type":"apiKey","name":"slotbot-auth-token","in":"header"},"API Auth Token (ROLE_ADMIN)":{"type":"apiKey","name":"slotbot-auth-token","in":"header"}}}}